{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ villain.name }}</h1>
    <p>Armour: {{ villain.costume }}</p>
    <p>Badness: {{ villain.badness }}</p>
{% endblock %}

{% block title %}

{% endblock %}

